<li>
    {{#if url}}
        {{>signers-link}}
        {{else}}
        <h3>{{first}} {{last}}</h3>
    {{/if}}
    <h3> </h3>
    {{#if age}}
       <h3>{{age}}</h3> 
    {{/if}}
    <h3> </h3>
    {{#if city}}
        <a href='petition/signers/{{city}}'>{{city}}</a>
    {{/if}}
    
    
</li>
