<div class="text-field">
    <h3>{{label}}</h3>
    <input
        type={{inputType}} 
        name={{databaseId}} 
        id={{databaseId}}
        {{#if placeholder}}placeholder="{{placeholder}}" {{/if}} 
        {{#if value}}value="{{value}}" {{/if}} 
        autocomplete="on" 
        {{#if required}} "required" {{/if}}/>
</div>